body{
    background-color: darkolivegreen;
    font-family:'Courier New', Courier, monospace;   
}
header{
    text-align: center;
    font-size: large;
}
#todo {
    text-align: center;
    background-color: greenyellow;
    line-height: 40px;
}

section#todo > button,input{
    padding: 10px;
}


section > button {

    background-color: rgb(19, 194, 19);

}

button:disabled {
    transition: color 0.5s ease-out;
}
  
  button:enabled {
    transition: color 0.5s ease-out;
}