body{
    background-color: darkolivegreen;
    /* font-family:'Courier New', Courier, monospace; */
    font-family:cursive;
    color : wheat;   
}
header{
    text-align: center;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
}
#todo {
    text-align: center;
    background-color: greenyellow;
    line-height: 40px;
    color:darkslategrey;
}

section#todo > button,input{
    padding: 10px;
}


/* section > button { */
button {

    background-color: rgb(19, 194, 19);
    font-family:cursive;
}

button:disabled {
    transition: color 0.5s ease-out;
}
  
  button:enabled {
    transition: color 0.5s ease-out;
}